target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/.settings/
/target/
/bin/
/logs/
.metadata/

*.log
*.zip
*.rar
*.via
*.tmp
*.err
.recommenders/
.DS_Store

/tinyplat-msgutil/.settings/
target
